*,*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  margin-bottom: 60px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #555;
  margin: 15px 0;
}
h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
a {
  color: #1186bd;
  text-decoration: none;
}
a:hover {
  color: #00adff;
  text-decoration: none;
}
small {
  font-size: 80%;
}
ul {
  margin: 15px 0;
}
.container {
  margin: 20px auto;
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.masthead {
  padding: 15px 0;
}
.cms_tagline {
  margin-left: 15px;
}
.post-title {
  margin-bottom: 0;
}
.post-date {
  font-size: 13px;
  color: #777;
}
.cms_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 15px 0;
  color: #777;
}
.cms_nav {
  list-style: none;
  float: right;
}
.cms_nav li {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}
.fadeIn {
  -webkit-animation: fadeIn 400ms forwards;
  animation: fadeIn 400ms forwards;
}