body {
  font-size: 13px;
}
pre, code {
  font-family: Consolas, monospace;
  font-size: 13px;
  line-height: 1.4;
}
pre {
  overflow: auto;
}
pre.prettyprint {
  padding: 0.5em 1em;
  border-radius: 2px;
  border: none;
  border-left: 3px solid #eee;
  margin: 15px 0 20px;
}
code.prettyprint {
  padding: 0 5px 1px;
  border-bottom: 2px solid #eee;
}
#outlet {
  width: 650px;
  margin: 50px auto;
}
#preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
}
#preloader div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
}
#preloader.hide {
  visibility: hidden;
  opacity: 0;
}
#sidebar {
  position: fixed;
  width: 240px;
  top: 50px;
  left: 50%;
  bottom: 0;
  padding-bottom: 40px;
  overflow: auto;
  margin-left: -580px;
}
#sidebar h3 {
  font-size: 14px;
  margin-bottom: 0;
}
#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
}
#sidebar li {
  font-size: 12px;
  line-height: 1.3;
  margin-bottom: 3px;
}
